{% extends "base/base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/add_cheque.css' %}"/>
{% endblock %}

{% block content %} 
    {% if edit_mode %}
        <h2> Редактирование чека </h2>

    {% else %}
        <h2> Добавление чека </h2>

    {% endif %}

    <form method="POST" action="" id="transaction-form" >
        {% csrf_token %}

        {{ form.as_p }}

        <h3> Позиции в чеке </h3>

        <div id="items-container"> 
            
        </div>

        <input type="hidden" name="items_data" id="items-data" >
        
        <button type="button" id="add-item-btn" class="btn btn-secondary" > Добавить позицию </button>
        <button type="submit" class="btn btn-primary"> Сохранить чек </button>
    </form>


    <div id="item-template" style="display:none;"> 
        <div class="item-form">
            <div class="form-group">
                <label> Наименование </label>
                <input type="text" class="form-control item-name" required /> 
            </div>


            <div class="form-group"> 
                <label> Количество </label>
                <input type="number" class="form-control item-quantity" min="1" value="1" required /> 
            </div>

            <div class="form-group"> 
                <label> Цена за единицу товара </label>
                <input type="number" step="0.01" class="form-control item-price" required />
           </div>
           <button type="button" class="btn btn-danger remove-item-btn"> Удалить </button>
           <hr>
        </div>
    </div>



{% endblock %}  
    
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"> </script>
    <script> 
        const initialItems = {% if edit_mode %} {{cheque_items_json|safe }} {% else %} [] {% endif %};
    </script>
    <script src="{% static 'main/js/main.js' %}"> </script>

{% endblock %}