{% extends "base/base.html" %}

{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/home.css' %}"/>
{% endblock %}


{% block content %}
<div class="dashboard">
    <h1>Финансовая аналитика</h1>
    
    <div class="section">
        <h2>Операции по категориям</h2>
        
        <div class="category-section">
            <h3>Расходы</h3>
            {% if categories_expense %}
                <ul>
                    {% for category, amount in categories_expense.items %}
                    <li>
                        <span>{{ category }}</span>
                        <span>{{ amount }} ₽</span>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="no-data">Расходов нет</p>
            {% endif %}
        </div>
        
        <div class="category-section">
            <h3>Доходы</h3>
            {% if categories_income %}
                <ul>
                    {% for category, amount in categories_income.items %}
                        <li>
                            <span>{{ category }}</span>
                            <span>{{ amount }} ₽</span>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="no-data">Доходов нет</p>
            {% endif %}
        </div>
    </div>
    
    <div class="section">
        <h2>Операции по счетам</h2>
        
        <div class="account-section">
            <h3>Расходы</h3>
            {% if bank_account_expense %}
                <ul>
                    {% for account, amount in bank_account_expense.items %}
                        <li>
                            <span>{{ account }}</span>
                            <span>{{ amount }} ₽</span>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="no-data">Расходов нет</p>
            {% endif %}
        </div>
        
        <div class="account-section">
            <h3>Доходы</h3>
            {% if bank_account_income %}
                <ul> 
                    {% for account, amount in bank_account_income.items %}
                        <li>
                            <span>{{ account }}</span>
                            <span>{{ amount }} ₽</span>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="no-data">Доходов нет</p>
            {% endif %}
        </div>
    </div>
    
    <div class="section">
        <div class="section-header">
            <h2>Последние чеки</h2>
            <a href="{% url 'main:add_cheque' %}">Добавить чек</a>
        </div>
        
        {% if last_cheques %}
            <ul>
            {% for cheque in last_cheques %}
                <li>
                    {{ cheque }}
                    <a href="{% url 'main:delete_cheque' cheque.pk %}"> Удалить чек </a> 
                    <a href="{% url 'main:update_cheque' cheque.pk %}"> Отредактировать чек </a> 

                </li> 
            {% endfor %}
            </ul>
        {% else %}
            <p class="no-data">Чеков нет, добавьте свой первый чек</p>
        {% endif %}
    </div>
</div>
{% endblock %}