{% extends "base/base.html" %}

{% load static %} 

{% block links %}
    <link rel="stylesheet" href="{% static 'history/css/history.css' %}"/>
{% endblock %}

{% block content %}
<div class="history-container">
    <h1>История операций</h1>
    
    <form method="POST" action="" class="date-form"> 
        {% csrf_token %}

        <h2>Выберите промежуток</h2>
        
        <label for="{{ form.start_date.id_for_label }}">Начало</label>
        {{ form.start_date }}

        <label for="{{ form.end_date.id_for_label }}">Конец</label>
        {{ form.end_date }}
        
        <input type="submit" value="Показать" />
    </form>

    {% if cheques_dict %}
        <div class="cheques-by-date">
            <ul class="cheques-list">
            {% for date, cheques in cheques_dict.items %} 
                <h3>{{ date }}</h3>
                {% for cheque in cheques %}
                    <li> 
                        <div class="cheque-info">
                            {{ cheque.name }} - {{ cheque.sum }} ₽ ({{ cheque.category }})
                        </div>
                        <a href="{% url 'main:detail' cheque.id %}" class="cheque-link">Детали чека</a>
                    </li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>

    {% elif first_session %}
        <p class="no-cheques">Выберите период и нажмите "Показать"</p>

    {% else %}
        <p class="no-cheques">За указанный промежуток времени чеков нет</p>
    {% endif %}
</div>
{% endblock %}